<!-- extends base.html -->
{% extends 'rango/base.html' %}

<!-- title block -->
{% block title_block %}
  Password Change
{% endblock %}

<!-- body block -->
{% block body_block %}

  <!-- header message bootstrap jumbotron -->
  <div class="jumbotron p-4">
    <div class="container">
      <h1 class="jumbotron-heading">Rango says...</h1>
      <div>
        <h2 class="h2">
          Change Your Password
        </h2>
      </div>
    </div>
  </div>

  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Change Password" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}